header.header
  nav.navbar
    - var links = ['index', 'task', 'comment', 'project', 'calendar', 'people', 'file', 'note', 'logout', 'switch']
    - var icons = ['home', 'tasks', 'comments', 'info-circle', 'calendar', 'phone', 'file', 'book', 'power-off', 'refresh']
    - var texts = ['首页', '任务', '讨论区', '动态回顾', '日程', '通讯录', '文件中心', '在线笔记', '注销', '切换项目']
    each link, i in links
      if i < 8 && page != links[i] && !(i == 2 && page === 'commentDetail')
        a.left(href='/#{links[i]}', class='link-#{links[i]}')
          i.fa(class='fa-#{icons[i]}')
          span &nbsp;#{texts[i]}
      else if i < 8 && page == links[i] || i == 2 && page == 'commentDetail'
        a.left.active(href='/#{links[i]}', class='link-#{links[i]}')
          i.fa(class='fa-#{icons[i]}')
          span &nbsp;#{texts[i]}
      else
        a.right(href='/#{links[i]}', class='link-#{links[i]}')
          i.fa(class='fa-#{icons[i]}')
          span &nbsp;#{texts[i]}
  .title-block
    h1.left.title #{page === 'index' && data.groupName || (page === 'project' || page === 'task' || page === 'comment' || page === 'commentDetail') && (data.title) || page === 'people' && '通讯录 - ' + data.groupName || page === 'file' && '文件中心 - ' + data.groupName}
    span.right.notification
      i.fa.fa-bell
    span.right.search-block.
      <span class="search-btn"><i class="fa fa-search"></i></span><input class="search" type="text" placeholder="Search">