.note-header
  .title-wrapper
    h1.title 所有笔记
    button.create-note(data-action='create')
      i.fa.fa-plus-circle
      span &nbsp;新建笔记
  span.activity-label.all 所有笔记
  span.activity-triangle-black
  span.activity-triangle-white
  hr.hr
.note-list
  each note in data.notes
    .note-block(data-tag=note.tag, data-nid=func.sha1(note.nid.toString()))
      .icon-block
      .detail-block
        .note-title-block
          span.note-tag= note.tag || '(未指定分类)'
          span.note-title(data-action='show')= note.title
        .note-description= note.description
        .note-other
          span.note-author By&nbsp;#{note.name}
          span.note-time #{func.getTime(note.time, 'hh:mm DD C')}
      .operation-block
        a.note-edit(data-action='edit')
          i.fa.fa-edit
          span &nbsp;编辑笔记
        a.note-modify(data-action='modify')
          i.fa.fa-info-circle
          span &nbsp;编辑详情
        a.note-delete(data-action='remove')
          i.fa.fa-trash
          span &nbsp;删除笔记