.project-header
  .title-wrapper
    h1.title 我的项目
    button.add-project
      i.fa.fa-plus-circle
      span &nbsp;添加项目
  span.activity-label 所有活动
  span.activity-triangle-black
  span.activity-triangle-white
  hr.hr
.project-list
  each project in data.project
    .project-title-block
      a.project-title(href="/project?pid=#{func.sha1(project.pid.toString())}") #{project.name}
      span &nbsp;-&nbsp;
      span.group-name #{data.groupname}
    table.project-activity
      each act in project.activity
        tr
          td.first
            span(class="#{act.type}")= act.type
          td.second
            a(href="/#{act.type}?#{act.type[0]}id=#{func.sha1(act.id + '')}")= act.title
          td.third
            span By&nbsp;
            a(href="/people?uid=#{func.sha1(act.uid + '')}")= act.people
          td.fourth= func.getTime(act.time, 'hh:mm DD C')
//- include includes/footer