- var typeArr = {project: '项目', task: '任务列表', file: '文件', comment: '评论', detail: '任务'}
.task-header
  .title-wrapper
    h1.title #{data.title}
    button.create-task-list
      i.fa.fa-plus-circle
      span &nbsp;新建任务列表
  span.activity-label.all 所有任务
  span.activity-label.self 我的任务
  span.activity-label.doing 未完成任务
  span.activity-label.finish 已完成任务
  span.activity-triangle-black
  span.activity-triangle-white
  hr.hr
.task-list
  - index = 0
  each task in data.task
    if task.show
      .task-title-block(data-tid='#{func.sha1(task.tid.toString())}')
        a.task-title(href="/task?tid=#{func.sha1(task.tid.toString())}") #{task.title}
        span.remove
          i.fa.fa-trash
          span 移除列表
        span.edit
          i.fa.fa-edit
          span 修改列表
        span.add
          i.fa.fa-plus
          span 添加任务
      table.detail
        each detail in task.detail
          - index += 1
          tr(data-did='#{func.sha1(detail.did.toString())}', class='#{detail.status}')
            td.check(class=detail.self ? 'self' : 'unself')
              input(id='finish#{index}', type='checkbox', checked=(detail.finish === 1), data-did=func.sha1(detail.did.toString()))
              label.fa.fa-check(for='finish#{index}')
            td.first(class=detail.self ? 'self' : 'unself')
              span #{detail.title}
            td.second
              if detail.num === 0
                span.view #{detail.content}
              else
                span.view
                  i.fa.fa-file
                  span (#{detail.num}个文件)
                  span #{detail.content}
              span.participant
                if detail.participant.length !== 0
                  span &nbsp;(参与者:
                  each member in detail.participant
                    span &nbsp;#{member}
                  span )
            td.third
              span.operation(data-did='#{func.sha1(detail.did.toString())}')
                i.fa.fa-edit.edit-task(title='编辑任务')
                i.fa.fa-trash.del-task(title='移除任务')
            td.fourth #{func.getTime(detail.time, 'hh:mm DD C')}