- var typeArr = {project: '项目', task: '任务列表', file: '文件', comment: '评论', detail: '任务'}
.task-header
  .title-wrapper
    h1.title #{data.title}
    button.create-task-list
      i.fa.fa-plus-circle
      span &nbsp;新建任务列表
  span.activity-label.all 所有任务
  //- span.activity-label.doing 未完成任务
  //- span.activity-label.finish 已完成任务
  //- span.activity-label.over 逾期任务
  span.activity-triangle-black
  span.activity-triangle-white
  hr.hr
.task-list
  each task in data.task
    .task-title-block(data-tid='#{func.sha1(task.tid.toString())}')
      a.task-title(href="/task?tid=#{func.sha1(task.tid.toString())}") #{task.title}
      span.edit 修改列表
      span.add 添加任务
      span.remove 移除列表
    table.detail
      each detail in task.detail
        tr(data-did='#{func.sha1(detail.did.toString())}')
          td.first
            span #{detail.title}
          if detail.num === 0
            td.second
              span #{detail.content}
          else
            td.second
              span.file
                i.fa.fa-file
                span (#{detail.num}个文件)
              span #{detail.content}
          td.third
            span.operation
              i.fa.fa-edit(title='编辑任务')
              i.fa.fa-trash(title='移除任务')
          td.fourth #{func.getTime(detail.time, 'hh:mm DD C')}