extend model_layout

block content
  .add-task-inner(data-tid=tid)
    h3 任务名称
    input.name(id='title', type='text', placeholder='任务名称')
    h3 任务详情
    textarea.content(id='content', placeholder='任务详情')
    h3 指定参与者
    each people, index in memberList
      input.check(id='member#{index}', type='checkbox', data-uid='#{sha1(people.uid.toString())}')
      label.member(for='member#{index}')
        span.username= people.name
    h3 添加附件
    .file-box
      .file-label-box
      .file-control-box
        input(id='file', type='file')
        label.file(for='file')
          i.fa.fa-plus-circle
          span &nbsp;添加附件